/* Cart.css */
.cart {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .cart h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    color: rgb(255, 255, 255);
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart-item-details {
    display: flex;
    align-items: center;
  }
  
  .cart-item-details img {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    border-radius: 4px;
  }
  
  .cart-item-info {
    font-size: 1rem;
    color: #000000;
  }
  
  .cart-item-price {
    font-weight: bold;
    color: #333;
  }
  
  .cart-total {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: #d2691e;
    margin-top: 1rem;
  }
  
  .checkout-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgb(235, 121, 0);
    background-color: #d2691e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    float: right;
  }
  
  .checkout-button:hover {
    background-color: #c05619;
  }
  